@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Zeyada&display=swap');
body {
    background-color: #333333;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
.menup {
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    max-width: 120rem;
    font-family: PT Sans;
    overflow: auto;
}

.disc {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #393391;
    transition: 0.5s;
    text-align: end;
}
.disc a, .disc i {
    color: white;
    padding: 10px;
    background-color: #334444;
    border-right: 1px solid white;
    text-decoration: none;
}
.disc p {
    font-family: Karla;
    font-size: 20px;
    margin-left: 1rem;
}
.disc a:hover {
    color: black;
    background-color: antiquewhite;
    font-size: 15.9px;
}
.disc:hover {
    background-color: lightsalmon;
}
.menu {
    transition: 0.5s;
}
.menu a {
    border-left: 1px solid white;
    background-color: #334444;
    color: white;
    text-decoration: none;
    padding: 10px 20px ;
    transition: 0.5s;
}
.menu i {
    margin-right: 10px;
}
.menu a:hover {
    background-color: antiquewhite;
    color: black;
}
.interact {
    width: 50%;
    max-width: 500px;
    margin: 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    padding: 30px;
    background-color: #393331;
    transition: 0.5s;
    border-radius: 50px;
}
.interact:hover {
    border: 1px solid black;
    background-color: white;
    transition: 0.5s;
    border-radius: 50px;
    padding: 35px;
    color: black;
}
.interact h2 { 
    font-size: 1.2rem;

}
.interact img {
    transition: 0.9s ease-in-out;
    width: 39.5%;
    border-radius: 50px;
}
.interact img:hover {
    transition: 0.5s;
    width: 39.5%;
    margin: 10px 0;
    transform: scale(1.1);
    filter: invert(1);
}
.interact ul {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.interact ul li {
    margin: 0.5rem 0;
    list-style: none;
    border: 1px solid white;
    width: 25%;
    justify-content: center;
    display: flex;
    background-color: #333339;
    border-radius: 100px;
}
.interact ul a:hover {
    box-shadow: 0 0 10px 0 white;
    background-color: #393391;
}
.interact ul a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 100%;
    justify-content: center;
    display: flex;
    transition: 0.5s;
}
.interact > .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3vh 0;
}

#button {
    background-color: #c6ac8f;
    color: white;
    font-size: 17px;
    transition: 0.5s;
}
#button:hover {
    background-color: #5e503f;
}
.linea {
    margin: 0.75rem 0 0 0;
    width: 95%;
    max-width: 119rem;
}
.mushoku {
    transition: 2s;
}
.mushoku:hover {
    color: #f2cc8f;
    font-style: italic;
}
.video{
    width: 70%;
    margin-top: 5%;
}
.container1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.genero {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 5% 0 5%;
}
#submit {
    background-color: #caf0f8;
}
#submit:hover {
    background-color: #90e0ef;
}

form {
    background-color: #403d39;
    color: #ccc5b9;
    padding: 30px;
    align-items: center;
    text-align: center;
    width: 80%;
}
form h1 {
    color: #d5bdaf;
    transition: 1s;
}
form h1:hover {
    font-size: 1.2rem;
}
form label, form input {
    transition: 1s;
}
form label:hover {
    color: rgb(213,55,145);
}
form input {
    width: 50%;
    padding: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100px;
    border: 1px solid black ;
    background-color: #eae2b7;
    color: black;
    font-weight: 500;
}
form input:hover {
    background-color: #f8f8f8;
    width: 45%;
    font-size: 13px;
    color: rgb(4,42,5);
    font-style: italic;
}
.info {
    text-align: justify;
    padding: 0 3rem 0 3rem;
}