<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roxy | Wiki HTML</title>
    <link rel="stylesheet" href="../../assets/styles/styles.css">
    <link rel="stylesheet" href="../../font/css/all.css">
    <link rel="shortcut icon" href="../../assets/img/roxy.jpg" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="menup">
        <div class="disc">
            <i class="fa-brands fa-discord"></i>
            <a href="https://github.com/DANIELXXOMG2/" target="_blank">danielxxomg_profile</a>
            <p>Wiki Mushoku Tensei</p>
        </div>
    <div class="menu">
        <a href="../content/index.html">
            <i class="fa-solid fa-bars"></i>
            Inicio
        </a>    
    </div>
    <div class="menu">
        <a href="../content/contactos.html">
            <i class="fa-solid fa-bars"></i>
            Contactos
        </a>
    </div>
    <div class="menu">
        <a href="../content/acerca_de.html">
            <i class="fa-solid fa-bars"></i>
            Acerca de
        </a>
    </div>
    </div>
<audio controls>
    <source src="../../assets/audio/mushoku op.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<div class="interact">
    <hr class="linea">
    <div class="title">
        <h1 class="mushoku">Roxy Migurdia</h1>
        <img src="../../assets/img/roxy.jpg" alt="roxy_migurdia" width="40%">
        <p class="mushoku">La Maestra de pelo de lapislazuli</p>
    </div>
    <hr style="margin: 0; width: 95%;">
    <div class="info">
    <h2><li>Mentora de Rudeus</li></h2>
    <p>
        Roxy es una poderosa maga y una de las primeras mentoras de Rudeus Greyrat en "Mushoku Tensei: Isekai Ittara Honki Dasu". Con un talento excepcional para la magia, Roxy enseña a Rudeus las bases de la magia y lo guía en su desarrollo. Es conocida por su personalidad fuerte y decidida, así como por su apariencia distintiva, incluyendo su cabello azul,
    </p>
    <p>
        A pesar de su confianza exterior, Roxy también enfrenta sus propias inseguridades y busca su lugar en el mundo. Su relación con Rudeus es fundamental, ya que actúa como un catalizador para su crecimiento personal y mágico.
    </p>
</div>
<hr class="linea">
</div>
<hr class="linea">
<footer>
    <p>© all rights reserved 2024</p>
</footer>
</body>
</html>