<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de | Wiki HTML</title>
    <link rel="stylesheet" href="../../assets/styles/styles.css">
    <link rel="stylesheet" href="../../font/css/all.css">
    <link rel="shortcut icon" href="../../assets/img/ico.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="menup">
        <div class="disc">
            <i class="fa-brands fa-discord"></i>
            <a href="https://github.com/DANIELXXOMG2/" target="_blank">danielxxomg_profile</a>
            <p>Wiki Mushoku Tensei</p>
        </div>
    <div class="menu">
        <a href="index.html">
            <i class="fa-solid fa-bars"></i>
            Inicio
        </a>    
    </div>
    <div class="menu">
        <a href="contactos.html">
            <i class="fa-solid fa-bars"></i>
            Contactos
        </a>
    </div>
    <div class="menu">
        <a href="acerca_de.html">
            <i class="fa-solid fa-bars"></i>
            Acerca de
        </a>
    </div>
    </div>
<hr class="linea">
    <video controls class="video">
        <source src="../../assets/videos/rudeusmuere.mp4">
    </video>
<hr class="linea">
<footer>
    <p>© all rights reserved 2024</p>
</footer>
</body>
</html>